<%= image_tag 'terazvp1.png', :class => "static_image"%>

<div class="block">
<%= link_to "https://www.minzp.sk/files/sekcia-vod/vodny-plan-2015/vodny-planslovenska-2015_sup-dunaja-sup-visly.pdf", target: :_blank do %>
  <button type="button" class="btn btn-success btn-lg">Vodný plán Slovenska (aktualizácia 2015)</button>
<% end %>

<%= link_to "https://www.minzp.sk/files/sekcia-vod/vodny-plan-2015/prilohy_sup-dunaj.pdf", target: :_blank do %>
  <button type="button" class="btn btn-success btn-lg">Prílohy - Správne územie povodia Dunaja</button>
<% end %>

<%= link_to "https://www.minzp.sk/files/sekcia-vod/vodny-plan-2015/prilohy_sup_visla.pdf", target: :_blank do %>
  <button type="button" class="btn btn-success btn-lg">Prílohy - Správne územie povodia Visly</button>
<% end %>

<%= link_to "http://www.vuvh.sk/rsv2/default.aspx?pn=PMCP2", target: :_blank do %>
  <button type="button" class="btn btn-success btn-lg">Plány manažmentu čiastkových povodí</button>
<% end %>

<%= link_to "https://ec.europa.eu/environment/water/water-framework/impl_reports.htm", target: :_blank do %>
  <button type="button" class="btn btn-success btn-lg">Správa EK o vykonávaní rámcovej smernice o vode (2000/60/ES)</button>
<% end %>
</div>
