<%= link_to pages_dunajvisla_path do %>
  <% image_tag 'budvp1.png' , :class => "static_image"%>
<% end %>
<div class="block">
  <%= link_to pages_newplan_path do %>
      <button type="button" class="btn_new btn-primary btn-lg" >Plány manažmentu povodia Dunaja a Visly</button>
    <% end %>
  <%= link_to pages_dunajvisla_path do %>
      <button type="button" class="btn_new btn-primary btn-lg " style="margin-left:50px">Časový a vecný harmonogram</button>
    <% end %>
  <%= link_to "https://www.minzp.sk/files/oblasti/voda/koncepcne-a-planovacie-dokumenty/casovy-vecny-harmonogram.pdf", target: :_blank do %>
      <button type="button" class="btn_new btn-primary btn-lg " style="margin-left:100px">Zverejnenie na pripomienkovanie verejnosti</button>
    <% end %>

  <%= link_to "/zaznam.pdf", target: :_blank do %>
      <button type="button" class="btn_new btn-primary btn-lg" style="margin-left:100px">Seminár v rámci konzultácií s verejnosťou</button>
  <% end %>
  <%= link_to "/vyhodnotenie.pdf", target: :_blank do %>
      <button type="button" class="btn_new btn-primary btn-lg" style="margin-left:100px">Vyhodnotenie zaslaných pripomienok</button>
  <% end %>
  <%= link_to "/harmonogram.pdf", target: :_blank do %>
      <button type="button" class="btn_new btn-primary btn-lg" style="margin-left:100px">Výstupný dokument</button>
  <% end %>
  <%= link_to pages_vodoproblemy_path do %>
          <button type="button" class="btn_new btn-primary btn-lg "style="margin-left:50px">Významné vodohospodárske problémy</button>
  <% end %>
      <button type="button" class="btn btn-secondary btn-lg" style="margin-left:50px" disabled>Plány manažmentu povodia Dunaja a povodia Visly</button>
      <button type="button" class="btn btn-secondary btn-lg" style="margin-left:50px" disabled>Vodný plán Slovenska (aktualizácia 2021)</button>

  <%= link_to pages_povodne_path do %>
      <button type="button" class="btn_new btn-primary btn-lg">Plány manažmentu povodňového rizika SR</button>
  <% end %>

      <button type="button" class="btn btn-secondary btn-lg" disabled>Plán rozvoja verejných vodovodov a verejných kanalizácií</button>
</div>
