
<h2>Čo je to vodný plán?</h2>
<%= link_to image_url('VP_1.jpg'), target: :_blank do %>
<%= image_tag 'VP_1.jpg', :class => "vodnyplan_image"%>
<% end %>
<%= link_to image_url('VP_2.jpg'), target: :_blank do %>
<%= image_tag 'VP_2.jpg', :class => "vodnyplan_image"%>
<% end %>
<%= link_to image_url('VP_3.jpg'), target: :_blank do %>
<%= image_tag 'VP_3.jpg', :class => "vodnyplan_image"%>
<% end %>
<%= link_to image_url('VP_4.jpg'), target: :_blank do %>
<%= image_tag 'VP_4.jpg', :class => "vodnyplan_image"%>
<% end %>
