
<h2>Čo je to vodný plán?</h2>
<%= link_to image_url('VPS1_.png'), target: :_blank do %>
<%= image_tag 'VPS1_.png', :class => "vodnyplan_image"%>
<% end %>
<%= link_to image_url('VPS2_.png'), target: :_blank do %>
<%= image_tag 'VPS2_.png', :class => "vodnyplan_image"%>
<% end %>
<%= link_to image_url('VPS3_.png'), target: :_blank do %>
<%= image_tag 'VPS3_.png', :class => "vodnyplan_image"%>
<% end %>
<%= link_to image_url('VPS4_.png'), target: :_blank do %>
<%= image_tag 'VPS4_.png', :class => "vodnyplan_image"%>
<% end %>
