<%= image_tag 'budvp.png', :class => "static_image"%>
<div class="block">
  <%= link_to "https://www.minzp.sk/files/sekcia-vod/vodny-plan-sr.pdf", target: :_blank do %>
    <button type="button" class="btn btn-primary btn-lg disabled">Správa</button>
    <% end %>

    <%= link_to "https://www.minzp.sk/files/sekcia-vod/vodny-plan-sr.pdf", target: :_blank do %>
    <button type="button" class="btn btn-primary btn-lg disabled">Vecný a časový harmonogram</button>
    <% end %>

    <%= link_to "http://www.vuvh.sk/Documents/vodne_hospodarstvo/Stav_vod_a_VPvPS_Informacna_brozura.pdf", target: :_blank do %>
    <button type="button" class="btn btn-primary btn-lg disabled">Významné vodohospodárske problémy</button>
    <% end %>

    <%= link_to "https://docs.google.com/forms/d/e/1FAIpQLSf4rlAjCNZr75xGOsb2Pw8s4bio8aLdT4B5F8LAce9kUE3xCQ/viewform?usp=sf_link", target: :_blank do %>
    <button type="button" class="btn btn-primary btn-lg disabled">Dotazník pre verejnosť</button>
    <% end %>
</div>
