<%= link_to pages_seminar_path do %>
  <% image_tag 'budvp1.png' , :class => "static_image" %>
<% end %>
<div class="block">

<%= link_to pages_seminar_path do %>
  <button type="button" class="btn_new btn-primary btn-lg">Späť</button>
<% end %>

<%= link_to "/vodoproblem_prz1.pdf", target: :_blank do %>
  <% image_tag 'prz1.jpeg' , :class => "prezentacie_image", :title => "Významné vodohospodárske problémy"%>
<% end %>

<%= link_to "/vodoproblem_prz2.pdf", target: :_blank do %>
  <% image_tag 'prz2.jpeg' , :class => "prezentacie_image", :title => "Dotazník k Významným vodohospodárskym problémom"%>
<% end %>

<%= link_to "/vodoproblem_prz3.pdf", target: :_blank do %>
  <% image_tag 'prz3.jpeg' , :class => "prezentacie_image" , :title => "Rozvoj verejných vodovodov a kanalizácií do roku 2030"%>
<% end %>

<%= link_to "/vodoproblem_prz4.pdf", target: :_blank do %>
  <% image_tag 'prz4.jpeg' , :class => "prezentacie_image", :title => "Aktualizácia plánu manažmentu povodňového rizika v čiastkových povodiach SR"%>
<% end %>

</div>
