

<%= link_to pages_oldplan_path do %>
    <%= image_tag'staryvp1.png', :class => "style_image"%>
<% end %>


<%= link_to pages_actplan_path do %>
    <%= image_tag 'terazvp1.png', :class => "style_image"%>
<% end %>


<%= link_to pages_newplan_path do %>
    <%= image_tag 'budvp1.png', :class => "style_image"%>
<% end %>


<a href="staryvp1.png" class="textOverImage" style="style_image" data-title="A flower" data-text="sometimes known as a bloom or blossom, is the reproductive structure found in plants that are floral (plants of the division Magnoliophyta, also called angiosperms). The biological function of a flower is to effect reproduction, usually by providing a mechanism for the union of sperm with eggs. Flowers may facilitate outcrossing (fusion of sperm and eggs from different individuals in a population) or allow selfing (fusion of sperm and egg from the same flower).
	">
</a>
