<%= link_to pages_dunajvisla_path do %>
  <% image_tag 'budvp1.png' , :class => "static_image"%>
<% end %>
<div class="block">
  <%= link_to pages_newplan_path do %>
      <button type="button" class="btn_new btn-primary btn-lg" >Plány manažmentu povodia Dunaja a Visly</button>
    <% end %>
  <%= link_to pages_harmonogram_path do %>
      <button type="button" class="btn_new btn-primary btn-lg " style="margin-left:50px">Časový a vecný harmonogram</button>
    <% end %>

  <%= link_to pages_dunajvisla_path do %>
          <button type="button" class="btn_new btn-primary btn-lg "style="margin-left:50px">Významné vodohospodárske problémy</button>
    <% end %>


      <button title="Zber údajov ukončený. Ďakujeme za spoluprácu." type="button" class="btn btn-secondary btn-lg "style="margin-left:100px" disabled>Podnety od verejnosti (dotazník). Zber údajov ukončený. Ďakujeme Vám za spoluprácu. </button>


<%= link_to pages_seminar_path do %>
    <button type="button" class="btn_new btn-primary btn-lg" style="margin-left:100px">Seminár v rámci konzultácií s verejnosťou (plánovaný termín 6.11.2019)</button>
<% end %>


    <button type="button" class="btn btn-secondary btn-lg" style="margin-left:100px"disabled>Zverejnenie na pripomienkovanie verejnosti významných vodohospodárskych problémov (zverejnenie 22.12.2019-22.06.2020)</button>
    <button type="button" class="btn btn-secondary btn-lg" style="margin-left:100px"disabled>Vyhodnotenie zaslaných pripomienok</button>
    <button type="button" class="btn btn-secondary btn-lg" style="margin-left:100px"disabled>Výstupný dokument</button>
    <button type="button" class="btn btn-secondary btn-lg" style="margin-left:50px" disabled>Plány manažmentu povodia Dunaja a povodia Visly</button>
    <button type="button" class="btn btn-secondary btn-lg" style="margin-left:50px" disabled>Vodný plán Slovenska (aktualizácia 2021)</button>

  <%= link_to pages_povodne_path do %>
    <button type="button" class="btn_new btn-primary btn-lg">Plány manažmentu povodňového rizika SR</button>
  <% end %>

    <button type="button" class="btn btn-secondary btn-lg" disabled>Plán rozvoja verejných vodovodov a verejných kanalizácií</button>
</div>
