<!DOCTYPE html>
<html>
  <head>
    <title>Vodný plán Slovenskej republiky</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="box" id=left width="80%">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color: #004f86" href="/pages/vodny_plan">VODNÝ PLÁN SLOVENSKA</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!--<li><a href="/ideas">Príspevky</a></li>-->
        <li><a style="color: #006AB3" href="/pages/info">Čo je to vodný plán?</a></li>
        <li><a style="color: #006AB3" href="https://forms.gle/kod4sLNGsNgHS4656", target= "_blank" ">Podnety od verejnosti (Významné vodohospodárske problémy)</a></li>
      </ul>
    </div>
  </div>
  <div class="box" width="10%" >
    <div id=right>
    <%= link_to "https://www.minzp.sk/", target: :_blank do %>
        <%= image_tag 'mzplogosk.svg', :class => "logo_image" %>
    <% end %>
    </div>
  </div>
</nav>
    <div class="container">
      <div class="container">
        <%= yield %>
      </div>
  </div>
<footer>
  <div class="container">
    <%= image_tag 'listalogo.jpg', style: 'max-width:100%'%>
  </div>
  <div class="container">
    <p>
    </p>
    <div style= "color: #006AB3">
      <p>
        Za obsahovú stránku portálu zodpovedá MŽP SR
      </p>
      <p>
        <a style="color: #006AB3" href="https://bioclio.com", target= "_blank">BioClio team <%= Time.now.year %></a>
      </p>
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>
  </body>
</html>
